# Backend: Specify files/folders to ignore in Git
# Dependency directories
node_modules/
.env

# Logs
logs
*.log
npm-debug.log*

# System files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Optional: OS specific
*.swp

# User uploaded files
uploads/
!uploads/.gitkeep
